/*.back{*/
	/*background-image: url('http://dailylog.com/assets/image/background.jpg');*/
	/*/!*background-color: rgba(0, 0, 0, 0.5);*!/*/
	/*/!*opacity: 0.6;*!/*/
/*}*/

.tbs{
	background-color: ghostwhite;
}

.table-head{
	font-weight: bold;
	font-family: Monaco;
	font-size: larger;
	/*font-style: oblique;*/
}

.status{
	text-align: center;
	margin: 0;
}

/*Заголовок панели важных заметок*/
.title-panel-imp-note{
	text-align: center;
}

.opacity{
	opacity: 0.95;
}