.tbs{
	background-color: ghostwhite;
}

.table-head{
	font-weight: bold;
	font-family: Monaco;
	font-size: larger;
	/*font-style: oblique;*/
}

.status{
	text-align: center;
	margin: 0;
}

/*Заголовок панели важных заметок*/
.title-panel-imp-note{
	text-align: center;
}

.opacity{
	opacity: 0.8;
}

.list-group-horizontal .list-group-item {
	display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}

/*стиль загаловка панели*/
.panel-header{
	background-color: #EEE;
	color: #737373;
	font-family: Times New Roman;
	font-size: 1.5em;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px #EEE, 3px 3px 0px #707070;
}

/*время и дата*/
.data-time {
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
	font-size: 2em;
}

/*название сайта в шапке*/
.site-name{
	font-family: Arial;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
}

/*имя пользователя в шапке*/
.user-title{
	font-size: 20px;
	text-shadow:3px 3px 10px #ec760c,-3px -3px 10px yellow;color: #101921;
}

/*контейнер заметок на главной странице*/
.note-container{
	background-color: #f7f7f7;
}

label.error{
	font-size: 0.8em;
	color: #F00;
	font-weight: bold;
	position: absolute;
	margin-left: 10px;
}

input.error, select.error  {
	background: #FFA9B8;
	border: 1px solid red;
}

